doctype html
html(lang="en")
  head
    title="week4"
  body
    h1 sign-in
    form(action='/home', method='post')
      label email:
        input(type='text', name='si_email')
      label <br>password:
        input(type='text', name='si_password')
        button(type='submit') Submit
    h1 sign-up
    form(action='/home', method='post')
      label email:
        input(type='text', name='su_email')
      label <br>password:
        input(type='text', name='su_password')
        button(type='submit') Submit
    h2(style="color:red") #{error}
